POSTGRES_DB=milestory
POSTGRES_USER=milestory
POSTGRES_PASSWORD=milestory
POSTGRES_PORT=5432
MILESTORY_DB_HOST=localhost
MILESTORY_DB_PORT=5432
MILESTORY_DB_NAME=milestory
MILESTORY_DB_USERNAME=milestory
MILESTORY_DB_PASSWORD=milestory
MILESTORY_TEST_DB_HOST=localhost
MILESTORY_TEST_DB_PORT=5432
MILESTORY_TEST_DB_NAME=milestory_test
MILESTORY_TEST_DB_USERNAME=milestory
MILESTORY_TEST_DB_PASSWORD=milestory